@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald&display=swap');    

body {
    background-color: whitesmoke;
}
p {
    font-family:'Oswald', sans-serif;
    color: olive;
}

img {
    max-height: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in-out 1.5s;
}

img:hover {
    transform: rotate(360deg);
}

h1{
    font-family:'Noto Serif', serif;
    font-size:100%;
}

h2  {
    font-family:'Oswald', sans-serif;
    font-size:90%;
}

ul {
    list-style-type:square;
    list-style-position:inside;
    margin-left: 25px;
    padding: 5px;
    background: tan;
    color: darkorchid
}

ol li:nth-child(even) {
    background-color:paleturquoise;
}
ol li:nth-child(odd) {
    background-color:gainsboro;
}

section[class="Projects"] p::first-line {
    text-decoration:overline;
}

article {
    border-style:ridge;
    border-color:burlywood;
    border-radius:2%;
    background-color:goldenrod
}

a {
    color:darkcyan;
    transition: all 0.1s .8s;

}

a:visited {
    font-size:0.5rem;
    font-weight:900;
    color:darkgreen; 
}

a:active {
    color:whitesmoke;
}

a:link {
    color:black;
}

a:hover {
    color:red;
    font-size:1.7rem;
    font-weight:700;
}

footer {
    background-color:salmon;
}
.box {
    height: 400px;
    width: 300px;
}

.container {
    display: flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-evenly;
}
